@*@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>*@
@model IEnumerable<ContosoUniversity.ViewModels.CourseTitleGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}
<h2>Student Body Statistics</h2>
<table>
    <tr>
        <th>
            @*Enrollment Date*@
            Course
        </th>
        <th>
            Students
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.EnrollmentDate)*@
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>